* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(53, 29, 75);
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}

#navheadsection {
  background-color: rgb(43, 43, 94);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 1.2rem;
  position: relative;
}
.logo-of-website {
  height: 10vh;
  border-radius: 10px;
}
.span {
  font-size: 1.6rem;
  margin-left: 100px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}
nav ul li a:hover {
  color: rgb(226, 64, 226);
}
div span {
  font-size: 2rem;
}
#nav-icon {
  display: none;
}
#nav-icon i {
  font-size: 30px;
}
main {
  min-height: 100vh;
  background-color: #2124376e;
}
.my-skill-section h3 {
  text-align: center;
  color: rgba(255, 250, 245, 0.863);
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  padding: 30px;
  font-size: 2rem;
}
.my-skill-section h3 span {
  color: orange;
}
.skills {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.skills div {
  width: 25%;
  height: 30vh;
  background-color: #191b2769;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: whitesmoke;
}
.skills div:hover {
  background-color: rgba(0, 255, 255, 0.199);
}
.my-skill-section .descripton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.des,
.img {
  width: 40%;
}
.img img {
  height: 60vh;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.des h2 {
  color: orange;
  padding: 5px;
}
.des p {
  color: rgb(238, 235, 235);
  line-height: 25px;
}
.des ul {
  color: #cad2c5;
  line-height: 25px;
}

footer {
  min-height: 20vh;
}
.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-nav ul {
  list-style: none;
  padding-top: 5px;
}
.footer-nav p {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  color: violet;
}
.footer-nav ul li {
  padding-top: 15px;
  border-bottom: 1px solid rgba(189, 148, 148, 0.288);
}
.footer-nav ul li a {
  text-decoration: none;
  text-decoration: none;
  color: whitesmoke;
  text-transform: capitalize;
}
.footer-nav ul li a:hover {
  color: rgb(226, 64, 226);
}

.footer-links i {
  font-size: 1.3rem;
  outline: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 15px 5px 2px 5px;
  background-color: rgb(70, 33, 33);
  color: violet;
}
.footer-links p {
  color: #fdfffc;
}
.footer-links i:hover {
  background-color: rgb(255, 247, 247);
}
.footer-links {
  margin-top: 15px;
}
footer hr {
  border: none;
  margin: 20px 195px 20px 195px;
  width: 50%;
  height: 1.1px;
  background: gainsboro;
}
.copyright p {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffffc7;
}
/* for tablet screen */

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 65px;
    left: 0px;
    flex-direction: column;
    text-align: center;
    gap: 0;
    background-color: rgba(43, 43, 94, 0.842);
    display: none;
  }
  nav ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(30, 97, 128);
  }
  #nav-icon {
    display: block;
    margin-left: 0px;
  }
  .span {
    font-size: 1.5rem;
    margin-left: 0px;
  }
  .logo-of-website {
    margin-left: 0px;
    height: 8vh;
    border-radius: 5px;
  }
  .my-skill-section .descripton {
    display: inline-block;
  }
  .des,
  .img {
    width: 90%;
  }
  .img img {
    height: 80vh;
    width: 100%;
    border-radius: 10%;
    }
  .des {
    padding: 0px 25px 25px 25px;
  }
}
.footer-links i {
  margin: 5px 5px;
}
footer hr {
  margin: 40px 130px;
  width: 75%;
}
/* for mobile screen */
@media only screen and (max-width: 700px) {
  div span {
    font-size: 1.3rem;
  }
  .span {
    font-size: 1.1rem;
    margin-left: 10px;
  }
  .logo-of-website {
    margin-left: 10px;
    height: 8vh;
    border-radius: 5px;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 65px;
    left: 0px;
    flex-direction: column;
    text-align: center;
    gap: 0;
    background-color: rgba(43, 43, 94, 0.842);
    display: none;
  }
  nav ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(30, 97, 128);
  }
  #nav-icon {
    display: block;
    margin-left: 20px;
  }
  .skill {
    display: inline-block;
  }
  #skills .des-about-skill {
    width: 85%;
    padding: 20px;
  }
  .my-img-skill img {
    width: 75vw;
    margin: 5px 0px 25px 45px;
    height: 40vh;
    border-radius: 30%;
  }
  .skills div {
    width: 45%;
    height: 20vh;
    font-size: 2rem;
  }
  .my-skill-section h3 {
    font-size: 1.5rem;
  }
  .my-skill-section .descripton {
    display: inline-block;
  }
  .des,
  .img {
    width: 82%;
  }
  .img img {
    margin-left: 30px;
  }

  .des {
    padding: 25px;
  }
  .footer-nav p {
    font-size: 1rem;
  }
  .footer-links i {
    font-size: 1rem;
    margin: 7px 5px;
  }
  footer hr {
    border: none;
    margin: 40px 60px;
    width: 70%;
    height: 1.2px;
    background: gainsboro;
  }
  .copyright p {
    font-size: 1rem;
  }
}
