* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(53, 29, 75);
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}

#navheadsection {
  background-color: rgb(43, 43, 94);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: 1.2rem;
  position: relative;
}
.logo-of-website {
  height: 10vh;
  border-radius: 10px;
}
.span {
  font-size: 1.6rem;
  margin-left: 100px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}
nav ul li a:hover {
  color: rgb(226, 64, 226);
}
div span {
  font-size: 2rem;
}

.md-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  min-height: 50vh;
}
.left {
  font-size: 2.8rem;
  color: aqua;
  text-transform: capitalize;
  line-height: 65px;
}
.left .name {
  color: rgb(255, 123, 0);
  font-size: 3rem;
}

#element {
  color: rgb(226, 64, 226);
}

.contact-icons i {
  font-size: 1.3rem;
  outline: 1px solid white;
  border-radius: 20%;
  padding: 8px;
  margin: 5px 5px;
  background-color: rgb(250, 242, 242);
}
.contact-icons i:hover {
  background-color: rgba(88, 62, 62, 0);
}
main hr {
  border: none;
  margin: 40px 195px;
  width: 70%;
  height: 1.2px;
  background: gainsboro;
}
main .skils-section {
  min-height: 50vh;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}
.skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
}
.decripton {
  width: 40%;
}
.img-of-skill {
  width: 40%;
}
.img-of-skill img {
  min-height: 40vh;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  border-radius: 30px;
}
.skils-section h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  padding-top: 20px;
  font-style: italic;
  color: rgb(255, 123, 0);
}

.decripton h3 {
  text-align: justify;
  padding: 10px;
  font-weight: light;
  font-family: "popins", sans-serif;
  font-style: italic;
}
.decripton .skill-des {
  line-height: 45px;
  color: rgb(49, 25, 71);
  font-style: italic;
}
.decripton .skill-btn {
  font-size: larger;
  text-transform: capitalize;
  text-decoration: none;
}
main .service-section {
  min-height: 40vh;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}
main .service-section span {
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
  text-transform: capitalize;
  color: rgb(255, 123, 0);
  margin-top: 50px;
}
.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service-des {
  width: 40%;
  line-height: 35px;
  margin-bottom: 20px;
}
.service-des ul {
  list-style-type: decimal;
}
.service-btn {
  font-size: larger;
  text-transform: capitalize;
  text-decoration: none;
}
.service-img {
  width: 45%;
  margin-bottom: 20px;
  object-fit: contain;
}
.service-img img {
  height: 60vh;
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
}
.my-projects {
  min-height: 40vh;
  width: 100%;
  background-color: whitesmoke;
}
.my-projects h2 {
  text-align: center;
  color: rgb(255, 123, 0);
  font-size: 2rem;
  text-transform: capitalize;
  padding: 25px;
  font-style: italic;
}
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}
.project div {
  width: 35%;
  height: 30vh;
  background-color: #232121db;
  color: #f7feff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  border-radius: 20px;
}
.project div span {
  color: orange;
  text-transform: capitalize;
  padding: 4px;
}

footer {
  min-height: 20vh;
  background-color: #1e2433;
}
.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-nav ul {
  list-style: none;
  padding-top: 5px;
}
.footer-nav p {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  color: violet;
}
.footer-nav ul li {
  padding-top: 15px;
  border-bottom: 1px solid rgba(189, 148, 148, 0.288);
}
.footer-nav ul li a {
  text-decoration: none;
  text-decoration: none;
  color: whitesmoke;
  text-transform: capitalize;
}
.footer-nav ul li a:hover {
  color: rgb(226, 64, 226);
}

.footer-links i {
  font-size: 1.3rem;
  outline: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 15px 5px 2px 5px;
  background-color: rgb(70, 33, 33);
  color: violet;
}
.footer-links {
  margin-top: 15px;
}
.footer-links p {
  color: #fdfffc;
}
.footer-links i:hover {
  background-color: rgb(255, 247, 247);
}
footer hr {
  border: none;
  margin: 20px 195px;
  width: 70%;
  height: 1.2px;
  background: gainsboro;
}
.copyright p {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffffc7;
}
#nav-icon {
  display: none;
}
#nav-icon i {
  font-size: 30px;
}
/* for tablet screen */
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 65px;
    left: 0px;
    flex-direction: column;
    text-align: center;
    gap: 0;
    background-color: rgba(43, 43, 94, 0.842);
    display: none;
  }
  nav ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(30, 97, 128);
  }
  #nav-icon {
    display: block;
    margin-left: 0px;
  }
  .span {
    font-size: 1.5rem;
    margin-left: 0px;
  }
  .logo-of-website {
    margin-left: 0px;
    height: 8vh;
    border-radius: 5px;
  }
  .md-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    min-height: 50vh;
  }
  .left {
    margin-left: 35px;
    font-size: 1.7rem;
    line-height: 50px;
    margin-bottom: 0;
  }
  .left .name {
    font-size: 1.7rem;
  }
  #element {
    font-size: 1.6rem;
  }
  .contact-icons i {
    font-size: 1rem;
    border-radius: 50%;
  }
  main hr {
    border: none;
    margin: 20px 110px;
    width: 70%;
    height: 1.2px;
    background: gainsboro;
  }
  .skill {
    display: inline-block;
  }
  .decripton {
    width: 100%;
  }
  .img-of-skill {
    width: 90%;
  }
  .img-of-skill img {
    width: 100%;
    margin: 20px 20px 20px 40px;
  }
  .service {
    display: inline-block;
  }
  .service-des {
    width: 95%;
    padding: 15px;
    line-height: 37px;
    margin-bottom: 20px;
  }
  .service-des ul {
    margin-left: 15px;
  }
  .service-img {
    width: 90%;
    margin-left:50px;
  }
  .project div {
    width: 40%;
    height: 20vh;
  }
  .footer-links i {
    margin: 4px 5px;
  }
  footer hr {
    width: 75%;
    margin: 25px 100px;
    }
 
}
/* for mobile screen */
@media only screen and (max-width: 700px) {
  div span {
    font-size: 1.3rem;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 65px;
    left: 0px;
    flex-direction: column;
    text-align: center;
    gap: 0;
    background-color: rgba(43, 43, 94, 0.842);
    display: none;
  }
  nav ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(30, 97, 128);
  }
  #nav-icon {
    display: block;
    margin-left: 20px;
  }
  .span {
    font-size: 1.1rem;
    margin-left: 10px;
  }
  .logo-of-website {
    margin-left: 10px;
    height: 8vh;
    border-radius: 5px;
  }
  .md-main {
    display: inline-block;
    margin: 50px 0px;
    min-height: 30vh;
  }
  .left {
    margin-left: 20px;
    font-size: 1.5rem;
    color: aqua;
    font-family: "popins", sans-serif;
    text-transform: capitalize;
    line-height: 50px;
  }
  .left .name {
    font-size: 1.6rem;
  }
  .contact-icons i {
    font-size: 0.8rem;
    outline: 1px solid white;
    border-radius: 20%;
    margin: 15px 6px;
    background-color: rgb(250, 242, 242);
    text-align: center;
  }

  main hr {
    border: none;
    margin: 20px 50px;
    width: 70%;
    height: 1.2px;
    background: gainsboro;
  }
  .skill {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
  }
  .decripton {
    width: 100%;
  }
  .decripton h3 {
    text-align: justify;
    padding-top: 10px;
  }
  .decripton .skill-des {
    text-align: center;
    padding: 5px;
    line-height: 35px;
    color: rgb(49, 25, 71);
    font-style: italic;
    font-size: 0.9rem;
  }
  .img-of-skill {
    width: 88%;
  }
  .img-of-skill img {
    height: 60vh;
    width: 100%;
    object-fit: contain;
    margin-top: 0px;
    border-radius: 40px;
    margin-left: 18px;
  }
  .service {
    display: inline-block;
    margin-top: 30px;
  }
  .service-des {
    width: 90%;
    padding: 15px;
    line-height: 37px;
    margin-bottom: 20px;
  }
  .service-des ul {
    list-style-type: decimal;
    margin-left: 9px;
  }
  .service-img {
    width: 90%;
    margin-left: 25px;
    background-color: #dfe3ee83;
    border-radius: 30px;
  }
  .project div {
    width: 100%;
    height: 35vh;
  }
  .footer-nav p {
    font-size: 1rem;
  }
  .footer-links i {
    font-size: 1rem;
    margin: 7px 5px;
  }
  footer hr {
    border: none;
    margin: 40px 60px;
    width: 70%;
    height: 1.2px;
    background: gainsboro;
  }
  .copyright p {
    font-size: 1rem;
  }
}
